.row-container{
    border: 1px black solid;
    min-height: 30px !important;
}
.dropdown-button{
    width: 2.3rem !important;
    height: 20px !important;
    margin-left: -0.7rem !important;
    padding-top: 1 !important;
}
.col-container{
    border: 1px black solid; 
    min-height: 30px !important;
}

.item-container{
    min-height: 30px !important;
    display: inline-flex !important; 
    flex-wrap: wrap !important;
}